/*
 * 
 * @Author: gaohui 
 * @descripe: 整体布局样式合并
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 头部样式 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 头部样式
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 引用变量 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 主题定义
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* header 高度定义 */
/* 主题色彩定义 */
/* 背景色定义 */
/* 透明色彩定义 */
/* 统一字体 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 公共样式配置
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 媒体查询 */
/* 蒙版样式 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 遮罩层样式, 在多个地方都会用的, 放到公共样式中
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 引用变量 */
.g-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
}
/* 内边距 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 内边距设置
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
.g-padding-max {
  padding: 1rem;
}
.g-padding-middle {
  padding: 0.8rem;
}
.g-padding-min {
  padding: 0.5rem;
}
.g-header-max {
  height: 1.5rem;
  line-height: 1.5rem;
}
.g-header-middle {
  height: 1.2rem;
  line-height: 1.2rem;
}
.g-header-min {
  height: 1rem;
  line-height: 1rem;
}
/* 页面头部固定 */
.g-flex-header {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  background-color: #4a90e2;
  height: 1.2rem;
  line-height: 1.2rem;
  /* 左侧功能区 */
  /* 中间标题部分 */
  /* 右侧功能区 */
}
.g-flex-header > .left {
  text-align: center;
  width: 2rem;
  float: left;
}
.g-flex-header > .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 2rem;
  width: 6rem;
  position: absolute;
}
.g-flex-header > .right {
  text-align: center;
  width: 2rem;
  float: right;
}
/* 内容样式 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 布局内容样式
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 引用变量 */
/* 内容区域 */
.g-flex-content {
  box-sizing: border-box;
  overflow-y: auto;
  flex: 1;
}
/* 底部导航样式 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 底部导航栏样式
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 引用变量 */
/* 底部导航栏样式 */
.g-navbar-height-max {
  height: 1.5rem;
}
.g-navbar-height-middle {
  height: 1.2rem;
}
.g-navbar-height-min {
  height: 1rem;
}
.g-flex-navbar {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid #ddd;
  background-color: #aaaaaa;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 1.5rem;
  /* 导航项目 */
  /* 被选中的样式 */
  /* 导航图标 */
  /* 导航名称 */
}
.g-flex-navbar > .navbar-item {
  color: #808080;
  flex: 1;
}
.g-flex-navbar > .navbar-item.active {
  color: #09BB07;
}
.g-flex-navbar > .navbar-item > .name {
  display: block;
}
/* 导航样式 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 底部导航栏样式
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 引用变量 */
/* 底部导航栏样式 */
.g-footer-height-max {
  height: 1.5rem;
  line-height: 1.5rem;
}
.g-footer-height-middle {
  height: 1.2rem;
  line-height: 1.2rem;
}
.g-footer-height-min {
  height: 1rem;
  line-height: 1rem;
}
.g-footer {
  text-align: center;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  z-index: 200;
  background-color: #aaaaaa;
  height: 1.2rem;
  line-height: 1.2rem;
}
/* flex 布局*/
.g-flex-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
