/*
 * 
 * @Author: gaohui 
 * @descripe: 网格组件样式
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/*
 * 
 * @Author: gaohui 
 * @descripe: 主题定义
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* header 高度定义 */
/* 主题色彩定义 */
/* 背景色定义 */
/* 透明色彩定义 */
/* 统一字体 */
/* 列表高度统一 */
/* 内边距统一设定 */
/* 外边距统一设定 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 公共样式配置
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 媒体查询 --- 暂不使用 */
/* 蒙版样式 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 遮罩层样式, 在多个地方都会用的, 放到公共样式中
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 引用变量 */
.g-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
}
/* 内边距 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 内边距设置
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
.g-padding-large1 {
  padding: 0 1rem;
}
.g-padding-large1-all {
  padding: 1rem;
}
.g-padding-large2 {
  padding: 0 2rem;
}
.g-padding-large2-all {
  padding: 2rem;
}
.g-padding-large3 {
  padding: 0 3rem;
}
.g-padding-large3-all {
  padding: 3rem;
}
.g-padding-large {
  padding: 0 0.5rem;
}
.g-padding-large-all {
  padding: 0.5rem;
}
.g-padding-middle {
  padding: 0 0.3rem;
}
.g-padding-middle-all {
  padding: 0.3rem;
}
.g-padding-small {
  padding: 0 0.2rem;
}
.g-padding-small-all {
  padding: 0.2rem;
}
.g-padding-no {
  padding: 0rem;
}
/* 外边距 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 内边距设置
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
.g-margin-large1 {
  margin: 0 1rem;
}
.g-margin-large1-all {
  margin: 1rem;
}
.g-margin-large2 {
  margin: 0 2rem;
}
.g-margin-large2-all {
  margin: 2rem;
}
.g-margin-large3 {
  margin: 0 3rem;
}
.g-margin-large3-all {
  margin: 3rem;
}
.g-margin-large {
  margin: 0 0.5rem;
}
.g-margin-large-all {
  margin: 0.5rem;
}
.g-margin-middle {
  margin: 0 0.3rem;
}
.g-margin-middle-all {
  margin: 0.3rem;
}
.g-margin-small {
  margin: 0 0.2rem;
}
.g-margin-small-all {
  margin: 0.2rem;
}
.g-margin-no {
  margin: 0rem;
}
/* 文章组件 */
.g-article {
  position: relative;
  background: #fff;
  border-bottom: 1px solid #eee;
  color: #333;
  padding: 0.2rem 0.3rem;
  box-sizing: border-box;
  font-size: 0.4rem;
  /* 文章大标题 */
  /* 文章信息，用来放作者、创作时间等 */
  /* 文章小标题 */
  /* 文章段落 */
  /* 文章图片 */
  /* 展开按钮 */
}
.g-article .g-article-title {
  margin: 0.2rem 0 0.3rem;
  font-size: 0.5rem;
}
.g-article .g-article-info {
  color: #aaa;
  margin: 0.2rem 0 0.3rem;
}
.g-article .g-article-subtitle {
  margin: 0.2rem 0;
}
.g-article .g-article-paragraph {
  margin: 0.2rem 0 0.3rem;
}
.g-article .g-article-img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.g-article .g-article-unfold-btn {
  display: none;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.5rem;
  padding-top: 0.2rem;
  text-align: center;
  color: #e0652f;
  font-size: 1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #6f6a6a 100%);
}
/* 文章被折叠的情况 */
.g-article.fold {
  max-height: 100%;
  overflow: hidden;
  /* 控制展开按钮的显示 */
}
.g-article.fold .g-article-unfold-btn {
  display: block;
}
