/*
 * 
 * @Author: gaohui 
 * @descripe: 网格组件样式
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/*
 * 
 * @Author: gaohui 
 * @descripe: 主题定义
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* header 高度定义 */
/* 主题色彩定义 */
/* 背景色定义 */
/* 透明色彩定义 */
/* 统一字体 */
/* 列表高度统一 */
/* 内边距统一设定 */
/* 外边距统一设定 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 公共样式配置
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 媒体查询 --- 暂不使用 */
/* 蒙版样式 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 遮罩层样式, 在多个地方都会用的, 放到公共样式中
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 引用变量 */
.g-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
}
/* 内边距 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 内边距设置
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
.g-padding-large1 {
  padding: 0 1rem;
}
.g-padding-large1-all {
  padding: 1rem;
}
.g-padding-large2 {
  padding: 0 2rem;
}
.g-padding-large2-all {
  padding: 2rem;
}
.g-padding-large3 {
  padding: 0 3rem;
}
.g-padding-large3-all {
  padding: 3rem;
}
.g-padding-large {
  padding: 0 0.5rem;
}
.g-padding-large-all {
  padding: 0.5rem;
}
.g-padding-middle {
  padding: 0 0.3rem;
}
.g-padding-middle-all {
  padding: 0.3rem;
}
.g-padding-small {
  padding: 0 0.2rem;
}
.g-padding-small-all {
  padding: 0.2rem;
}
.g-padding-no {
  padding: 0rem;
}
/* 外边距 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 内边距设置
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
.g-margin-large1 {
  margin: 0 1rem;
}
.g-margin-large1-all {
  margin: 1rem;
}
.g-margin-large2 {
  margin: 0 2rem;
}
.g-margin-large2-all {
  margin: 2rem;
}
.g-margin-large3 {
  margin: 0 3rem;
}
.g-margin-large3-all {
  margin: 3rem;
}
.g-margin-large {
  margin: 0 0.5rem;
}
.g-margin-large-all {
  margin: 0.5rem;
}
.g-margin-middle {
  margin: 0 0.3rem;
}
.g-margin-middle-all {
  margin: 0.3rem;
}
.g-margin-small {
  margin: 0 0.2rem;
}
.g-margin-small-all {
  margin: 0.2rem;
}
.g-margin-no {
  margin: 0rem;
}
/* 网格组件 */
.g-grid {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
  /* 网格中的格子 */
  /* 去除最后一列的边框 */
}
.g-grid .g-grid-item {
  position: relative;
  flex: 1 1 33%;
  box-sizing: border-box;
  padding: 0.2rem 0;
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  /* grid内容区 */
}
.g-grid .g-grid-item .g-grid-icon {
  font-size: 1.2rem;
  color: #aaa;
  margin-bottom: 0.5rem;
}
.g-grid .g-grid-item .g-grid-label {
  color: #333;
}
.g-grid .g-grid-item:nth-child(3n) {
  border-right: none;
}
/* 不需要边框时取消容器上的border */
.g-grid.no-border {
  border: none;
}
.g-grid.no-border .g-grid-item {
  border: none !important;
}
/* 两列网格 */
.g-grid.g-grid-2 .g-grid-item {
  border-right: 1px solid #ddd;
  flex-basis: 50%;
  padding: 0.2rem 0;
}
.g-grid.g-grid-2 .g-grid-item:nth-child(2n) {
  border-right: none;
}
/* 三列网格 */
.g-grid.g-grid-3 .g-grid-item {
  border-right: 1px solid #ddd;
  flex-basis: 33%;
  padding: 0.2rem 0;
}
.g-grid.g-grid-3 .g-grid-item:nth-child(3n) {
  border-right: none;
}
/* 四列网格 */
.g-grid.g-grid-4 .g-grid-item {
  border-right: 1px solid #ddd;
  flex-basis: 25%;
  padding: 0.2rem 0;
}
.g-grid.g-grid-4 .g-grid-item:nth-child(4n) {
  border-right: none;
}
/* 五列网格 */
.g-grid.g-grid-5 .g-grid-item {
  border-right: 1px solid #ddd;
  flex-basis: 20%;
  padding: 0.2rem 0;
}
.g-grid.g-grid-5 .g-grid-item:nth-child(5n) {
  border-right: none;
}
