/*
 * 
 * @Author: gaohui 
 * @descripe: 网格组件样式
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/*
 * 
 * @Author: gaohui 
 * @descripe: 主题定义
 * @Date: 2020-04-08
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* header 高度定义 */
/* 主题色彩定义 */
/* 背景色定义 */
/* 透明色彩定义 */
/* 统一字体 */
/* 列表高度统一 */
/* 内边距统一设定 */
/* 外边距统一设定 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 公共样式配置
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 媒体查询 --- 暂不使用 */
/* 蒙版样式 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 遮罩层样式, 在多个地方都会用的, 放到公共样式中
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
/* 引用变量 */
.g-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
}
/* 内边距 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 内边距设置
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
.g-padding-large1 {
  padding: 0 1rem;
}
.g-padding-large1-all {
  padding: 1rem;
}
.g-padding-large2 {
  padding: 0 2rem;
}
.g-padding-large2-all {
  padding: 2rem;
}
.g-padding-large3 {
  padding: 0 3rem;
}
.g-padding-large3-all {
  padding: 3rem;
}
.g-padding-large {
  padding: 0 0.5rem;
}
.g-padding-large-all {
  padding: 0.5rem;
}
.g-padding-middle {
  padding: 0 0.3rem;
}
.g-padding-middle-all {
  padding: 0.3rem;
}
.g-padding-small {
  padding: 0 0.2rem;
}
.g-padding-small-all {
  padding: 0.2rem;
}
.g-padding-no {
  padding: 0rem;
}
/* 外边距 */
/*
 * 
 * @Author: gaohui 
 * @descripe: 内边距设置
 * @Date: 2020-02-02
 * @Last Modified by: gaohui
 * @Last Modified time: 2020-04-08
 * 
 * */
.g-margin-large1 {
  margin: 0 1rem;
}
.g-margin-large1-all {
  margin: 1rem;
}
.g-margin-large2 {
  margin: 0 2rem;
}
.g-margin-large2-all {
  margin: 2rem;
}
.g-margin-large3 {
  margin: 0 3rem;
}
.g-margin-large3-all {
  margin: 3rem;
}
.g-margin-large {
  margin: 0 0.5rem;
}
.g-margin-large-all {
  margin: 0.5rem;
}
.g-margin-middle {
  margin: 0 0.3rem;
}
.g-margin-middle-all {
  margin: 0.3rem;
}
.g-margin-small {
  margin: 0 0.2rem;
}
.g-margin-small-all {
  margin: 0.2rem;
}
.g-margin-no {
  margin: 0rem;
}
/* 模态框 */
.g-modal {
  display: none;
  /* 模态框窗口容器 */
  /* 模态框内容区 */
  /* 控制模态框内容区的内边距 */
  /* 模态框尾部 */
}
.g-modal .g-modal-wrap {
  position: absolute;
  width: 6rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  border-radius: 0.4rem;
  font-size: 0.4rem;
  z-index: 301;
  /* 纯图片模态框里的关闭按钮 */
}
.g-modal .g-modal-wrap .g-modal-close {
  position: absolute;
  left: 0;
  right: 0;
  width: 0.6rem;
  height: 0.6rem;
  padding: 0.2rem;
  margin: auto;
  bottom: -1.5rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 100;
  color: #eee;
  border: 1px solid #eee;
  border-radius: 50%;
}
.g-modal .g-modal-body {
  padding: 0.2rem 0.3rem;
  overflow: hidden;
  /* 图片形式的模态框样式 */
}
.g-modal .g-modal-body .g-modal-img {
  display: block;
  width: 100%;
  border-radius: 0.3rem;
}
.g-modal .g-modal-body.no-padding {
  padding: 0;
}
.g-modal .g-modal-footer {
  display: flex;
  border-top: 1px solid #ddd;
  /* 模态框尾部里按钮的样式 */
  /* 模态框尾部中的按钮加上分隔 */
}
.g-modal .g-modal-footer .g-btn {
  border: none;
  border-radius: 0;
  width: 100%;
}
.g-modal .g-modal-footer .g-btn + .g-btn {
  border-left: 1px solid #ddd;
}
/* 控制模态框的显示 */
.g-modal.show {
  display: block;
}
